/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

/*BODY*/
body{

    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/*HEADER*/

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.encabezado-superior{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.encabezado-superior p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header .buscador{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

div.ultima-visita,
div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
    flex-grow: 30%;
    position: relative;
    right: 40px;
    top: 15px;
}

.descuento{
    flex-grow: 70%;
    position: relative;
    right: 5px;
    top: 15px;
     width: 60%;

}

.descuento,
.descripcion{
    font-size: 16px;
    font-weight: normal;
}

h3,
.descripcion{
    color: #666;
}

.descripcion{
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

header .buscador .input{
    background-color: #FFF;
    border: 1px solid rgb(163, 161, 161);
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 5px;
}

header .buscador .submit{
    background-color: #FFF;
    border: 1px solid rgb(163, 161, 161);
    color: #666;
    width: 10%;
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

.menu-hamburguesa{
    border-image: 5%;
    text-align: center;
    margin: 0px 30%;
    justify-self: center;
}

.menu-hamburguesa i{
    background-color: #0044AA;
    border-radius: 15%;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    
}

header div.logo,
header .buscador{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

/*MAIN*/
main{
    width: 90%;
    margin: 0 auto;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 10px;
    top: -15px;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;

}
main section article img{
    width: 100%;
}

main section article i,
.descuento{
    color: #39b54a;
}

.articulo i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    justify-self: right;
    margin: 10px;
    transition: all 550ms;
}

.articulo i:hover{
    transform: rotateZ(270deg);  
}

main section h3{
    margin: 20px 0px;
}

article div.articulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.pago-articulo{
    display: flex;
    justify-content: space-between;
   
    }

main section div.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
        
main section div .productos article{
    width: 45%;
}
    
.precio,
.descuento{
    width: 50%;
}
    
article .precio-descuento{
    display: flex;
    flex-direction: row;
}
main section article .descripcion{
    display: none;
}

main section article:hover .descripcion{
    display: block;
}

main section article:hover{
    box-shadow: 0px 0px 30px rgb(19, 18, 18);
}
    
/*FOOTER*/
.info-pagina{
    background-color: #ffffff;
    padding-top: 35px;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.info-pagina section {
    text-align: center;
    margin: 15px;
    padding:0px 32px 10px;
    padding: 3%;
    width: 100%;
    font-size: medium;
}

.info-pagina section h4 {margin-block: auto;}

section p {
    margin-block: auto;
    padding:3px 32px 10px;
}
  
.info-pagina section i{
    font-size: 2em;
    color:#1259c3;
    margin-bottom: 10px;
}

footer i{
    text-align: center;
    color: #1259c3;
    transition: all 450ms;
}
    
footer i:hover{
    color:#666;
}

/*FORMULARIO REGISTER*/

.crear-cuenta{
    padding: 20px 15px;
}

.titulo-cuenta{
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.registro-intereses{

    display: flex;
    align-self: center;
    padding: 2px;
  
}

.registro{
    margin-bottom: 15px;
}

.registro label{
    margin-bottom: 5px;
    display: block;
}

.control{
    width: 100%;
    padding: 8px 8px;
}

.botones-registro{
    background-color: #0044AA;
    border: none;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    border-radius:5px ;
}
.botones{
    text-align: center;
}

.foto{
    font-size: 12px;
}

/*FORMULARIO LOGIN*/
.ingresa{
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.boton-login{
    text-align: right;
    background-color: #8fb3dd;
    border: none;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    border-radius:5px ;
   
}
.boton-login:hover{
    background-color: #0022AA;
}

.botones-login{
    text-align: center;
}
/*MEDIA QUERIES*/

/*Tablets*/
@media(min-width:481px) {

    .encabezado-superior{
        flex-wrap: nowrap;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .encabezado-logo{
        margin: 2px 0;
    }

    .compras{

        margin: 10px auto 10px; 
        padding: 5px;
        text-align: center;
    }

    .compras p{

        font-size: 15px;
    }

    .menu-hamburguesa i {
        display: none;
    }

    header nav{
        display: block;
        display: flex;
        justify-content: space-between;  
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    header nav ul{

    display: flex;
    flex-direction: row;
    margin-bottom: 15px; 
    }

    header nav li{

        margin: 0 5px;
    }

    header nav ul li{
        list-style-type: none;
    } 
    
    header nav ul li a{
        text-decoration: none;
        color: #000;
    }

    .productos-vista{
        display: flex;
       flex-wrap: nowrap;
    }

   .main-articulo{
    box-shadow: 0px 0px 0px;
    width:100%;
   }

   .productos-vista article{
    justify-content: space-between;
    width: 48%;
    margin: 0 5px; 
   }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

/*Desktop*/
@media(min-width:769px) {

    .encabezado-superior{
        flex-wrap: nowrap;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .encabezado-logo{
        margin: 2px 0;
        
    }

    .compras{
        margin: 10px auto 10px; 
        padding: 5px;
        text-align: center;
    }

    .compras p{

        font-size: 15px;
    }

    .input{
        width: 100%;
        padding: 20px;
        height: 25px;
        border:none;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .submit{
        height: 25px;
        background-color: #ebebeb;
        border: none;
        margin: 0;
        padding: 8px;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
    }

    .menu-hamburguesa i {
        display: none;
    }

    header nav{
        display: block;
        display: flex;
        justify-content: space-between;  
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px
    }

    header nav ul{

    display: flex;
    flex-direction: row;
    margin-bottom: 15px; 
    }

    header nav li{

        margin: 0 5px;
    }

    header nav ul li{
        list-style-type: none;
    } 
    
    header nav ul li a{
        text-decoration: none;
        color: #000;
    }

    .main-articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .productos{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }


    .productos-vista{
        width: 200%;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }


    .productos-vista{
        width: 45%;
    }

    .descripcion{
        font-size: 16px;    
    }

    .contenedor-footer{
        display: flex;
       flex-wrap: nowrap;
    }
    .copyright{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
   
}